@namespace GEmojiSharp.Blazor

@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime

<div @ref="element">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [JSInvokable]
    public static Task<string> MarkupContent(string content)
    {
        return Task.FromResult(content.MarkupContent());
    }

    private ElementReference element;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("emojify", element);
        }
    }
}