@namespace GEmojiSharp.Blazor
@implements IAsyncDisposable
@inject IJSRuntime JS

<div @ref="element">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private ElementReference element;

    private IJSObjectReference? module;

    [JSInvokable]
    public static Task<string> MarkupContent(string content)
    {
        return Task.FromResult(content.MarkupContent());
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import", "./_content/GEmojiSharp.Blazor/Emoji.razor.js");
            await module.InvokeVoidAsync("emojify", element);
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module is not null)
        {
            await module.DisposeAsync();
        }
    }
}
