name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    strategy:
      matrix:
        platform: [x64, ARM64]

    runs-on: windows-latest

    steps:

    - uses: actions/checkout@v4

    - name: Setup dotnet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          9.0.x
          10.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore /p:Platform=${{matrix.platform}}

    - name: Test
      if: ${{matrix.platform == 'x64'}}
      run: dotnet test --no-build --verbosity normal /p:Platform=${{matrix.platform}}
